agent-consult.json
{
  "name": "Demo: My first AI Agent in n8n",
  "nodes": [
    {
      "parameters": {
        "model": "GigaChat/GigaChat-2-Max",
        "options": {}
      },
      "id": "ca6d2e9e-b9d4-493a-abfb-df0410ed48cb",
      "name": "OpenAI Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        816,
        320
      ],
      "credentials": {
        "openAiApi": {
          "id": "2MGp0xrzZfIKARVU",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Telegram Trigger').item.json.message.text }}",
        "options": {
          "systemMessage": "Ты проактивный карьерный консультант для IT-специалистов. Твоя единственная цель — провести сессию и помочь пользователю выбрать узкую IT-специализацию (направление внутри разработки, анализа данных и т.д.).\n\nТы должен задавать вопросы ПО ОДНОМУ, согласно плану ниже. Не перечисляй все вопросы списком. После получения ответа на один вопрос — задавай следующий.\n\nПЛАН ВОПРОСОВ:\n1. Твой предыдущий жизненный опыт и достижения\n2. Опыт прохождения отборочного бассейна\n3. Твой возраст, место проживания\n4. Твои интересы и любимые занятия\n5. Цели обучения и желаемая скорость их достижения\n6. Сильные и слабые стороны (по твоему мнению)\n7. Желаемый формат работы (удаленно/оффлайн), размер компании\n\nПРАВИЛА:\n1. Ты инициативный. Ты управляешь диалогом.\n2. Сначала собери всю информацию, задав все вопросы.\n3. Затем проанализируй ответы и дай финальную рекомендацию с объяснением.\n4. Анонимизируй все личные данные в своем анализе.\n\nНачни сессию сейчас с первого вопроса."
        }
      },
      "id": "6938804d-11f7-4aec-a5c6-96562ea00dd9",
      "name": "Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        960,
        128
      ]
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "contextWindowLength": 30
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        976,
        336
      ],
      "id": "48c41ddc-7b59-4fe2-9f1c-43edd5f67bbc",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        688,
        112
      ],
      "id": "2766e559-9b43-47c3-9238-1cf1d49ff517",
      "name": "Telegram Trigger",
      "webhookId": "c69d88ba-1b86-467d-8673-511eb6a189f4",
      "credentials": {
        "telegramApi": {
          "id": "OfW3yeL6ns9dD1MM",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendChatAction",
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}"
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1312,
        128
      ],
      "id": "3f64e6a4-911f-422d-8022-d25ece2528d4",
      "name": "Send a chat action",
      "webhookId": "26da1bcc-fcc0-4887-9068-cb83041ff20f",
      "credentials": {
        "telegramApi": {
          "id": "OfW3yeL6ns9dD1MM",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $node[\"Agent\"].json[\"output\"] }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1504,
        128
      ],
      "id": "92f7f7bc-b80d-4c61-bd1d-2cea91c30046",
      "name": "Send a text message",
      "webhookId": "3ece5e7c-46fe-4d33-ba06-1cf8efa37fe4",
      "credentials": {
        "telegramApi": {
          "id": "OfW3yeL6ns9dD1MM",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "OpenAI Model": {
      "ai_languageModel": [
        [
          {
            "node": "Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agent": {
      "main": [
        [
          {
            "node": "Send a chat action",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a chat action": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "3e1c7e23-9a07-4c77-8163-30441dace1fb",
  "meta": {
    "instanceId": "5bda87043bd53b0fecbf2f3d074041daa292d672270113a418cb880c581ae971"
  },
  "id": "u2KHtTPdm3LlrtRk",
  "tags": []
}